body {
  background-color: #D8C3A5;
}
h1, h2, h3, p {
  color: #120302;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
  font-size: 36px;
  letter-spacing: 5px;
}
.center-container {
  height: 100%;
  width: 80%;
  margin: auto;
  position: relative;
  top: 0; left: 0; bottom: 0; right: 0;
  background-color: #EAE7DC;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.about-container {
  width: 97%;
  max-width: fit-content;
  position: relative;
  margin: auto;  
  padding: 15px;
  border: 2px solid #E85A4F;
  background-color: whitesmoke;
}
.about-container img {
  width: 20%;
  height: auto;
  border-radius: 40%;
  border: 2px white solid;
}
.projects {
  
}
.projects a:link, a:visited {
  color: #120302;
  text-decoration: none;
}
.projects a:hover, a:active {
  color: #E85A4F;
  text-decoration: underline;
}
.resume-container {

}
.resume-container ol {
  list-style-type: none;
}
.resume-section {

}
