body {
  background-color: #D8C3A5;
}
h1, h2, h3, p {
  color: #120302;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
  font-size: 36px;
  letter-spacing: 5px;
}
.center-container {
  height: 100%;
  width: 80%;
  margin: auto;
  position: relative;
  top: 0; left: 0; bottom: 0; right: 0;
  background-color: #EAE7DC;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.section-container {
  position: relative;
  padding: 15px;
  border: 2px solid #E85A4F;
  background-color: whitesmoke;
  overflow: auto;
  margin-top: 20px;
}
.section-container img {
  width: 20%;
  height: auto;
  border-radius: 50%;
  border: 2px #E85A4F solid;
  float: right;
  margin: 5px;
}
.section-container a:link, a:visited {
  color: #120302;
  text-decoration: none;
}
.section-container a:hover, a:active {
  color: #E85A4F;
  text-decoration: underline;
}
.resume-section ol, ul {
  list-style: none;
  padding: 0px;
}